<%- include('./partials/headerz.ejs') %>

<div class="read-more-container">
    <h2 class="read-more-title"><%= post.title_content %></h2>
    <p class="read-more-content"><%= post.blog_content %></p>
</div>

